<h1 class="centered-text">Queue Number</h1>

<div>
    <p class="centered-text">Nomor Antrian Anda</p>
    <h1 class="centered-text">A{{queueNumber}}</h1>
    <p class="centered-text">Mohon Menunggu </p>
    <div class="image-container">
        <img  [src]="barcodeImageSrc" />
    </div>
    <p class="centered-text">{{queueDate}}</p>
    <p class="centered-text">Budayakan antri untuk kenyamanan</p>
    <p class="centered-text">bersama</p>
    <p class="centered-text">Terima kasih atas kunjungan Anda</p>
</div>